<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 Subtitle</h2>
<h3>h3 Subtitle</h3>
<h4>h4 Subtitle</h4>
<h5>h5 Subtitle</h5>
<h6>h6 Subtitle</h6>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit architecto sint eveniet quis quae asperiores explicabo, alias laudantium nesciunt provident magni id quisquam officiis vitae minima deleniti, quaerat quia non.
Aspernatur quos sint maiores nam iusto sed quo, officia dignissimos maxime vero ratione impedit natus error libero magni aliquam rem molestias ab itaque asperiores. Saepe modi neque praesentium autem delectus?
Quia perspiciatis eligendi sed rem quaerat, exercitationem cupiditate numquam assumenda nisi cum ipsam eos, voluptatum modi eius soluta, molestias provident. Amet animi, nisi illum similique hic reiciendis. Impedit, commodi dolorem.</p>

<h3>Links</h3>

<a class="app-a">Link 1</a> <a class="app-a">Link 2</a> <a class="app-a">Link 3</a>

<h3>Button</h3>

<button class="app-button">Button</button>

<h3>Code</h3>

<code> const parameter = 42; </code>

<h3>Input</h3>

<input type="text" class="app-input">

<h3>Shadow</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>
